.header {
    display: flex;
    gap: 1rem;
    margin: 0 .5rem;
    padding: .2rem 1rem;

}
form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;
    max-width: 25rem;
}
input{
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #ccc;
}
button{
    padding: .8rem 1.5rem ;
    border: none;
    background: #3f51b5;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}